.cover__link {
  color: white;
  text-decoration: none;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cover__link:hover::after {
  content: '';
  width: 1184px;
  height: 740px;
  position:absolute;
  top: 0;
  left: 0;
  background-color: rgba(66, 66, 66, 0.8);
}
