.place__paragraph {
  margin: 0;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}

.place__paragraph:first-of-type {
  margin-bottom: 26px;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    margin: 0;
    font-size: 16px;
    line-height: 163%;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    margin: 0;
    font-size: 16px;
    line-height: 163%;
    max-width: 288px;
  }
  .place__paragraph:first-of-type {
    margin-bottom: 25px;
  }
}
