.intro {
  max-width: 984px;
  display: flex;
  margin: 0 auto;
  margin-top: 92px;
}

@media screen and (max-width: 1279px) {
  .intro {
    max-width: 928px;
    display: flex;
    margin: 0 auto;
    margin-top: 92px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    max-width: 768px;
    display: flex;
    margin: 0 auto;
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    max-width: 288px;
    display: flex;
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 64px;
  }
}
